body,
html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background: #27af48;
}

body::-webkit-scrollbar-thumb {
  background: black;
}

/* bg change on scroll */

.MobileNav {
  height: 100px;
  position: fixed;
  background: rgb(0, 0, 0, 0.3);
  width: 100vw;
  z-index: 999;
}
.MobileNav.active {
  background: #27af48;
}

/* faq */
.nav-tabs {
  border-bottom: 0;
  font-size: 0.7rem;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 0;
}
.nav-link {
  color: black;
  font-weight: bold;
  padding: 0;
  margin: 0 0.3rem;
}
.nav-link:hover {
  color: grey;
  border-bottom: 2px solid #27af48;
}
.nav-link.active {
  color: grey;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  overflow: hidden;
}

/* testimonial */
.carousel-indicators li {
  background: transparent;
}
